asgiref==3.9.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
coreschema==0.0.4
cryptography==46.0.1
Django==5.2.6
django-cors-headers==4.9.0
djangorestframework==3.16.1
idna==3.10
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pycparser==2.23
PyMySQL==1.1.2
python-decouple==3.8
requests==2.32.5
setuptools==80.9.0
sqlparse==0.5.3
uritemplate==4.2.0
urllib3==2.5.0
wheel==0.45.1
